# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

mynotes.txt
/agents/mychatbot/me/*
uv.lock
/agents/mychatbot/README.md